.box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }

  .boxedit{
    border: 1px solid #d1d5db;
    height: auto;
    width: 19rem;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.cardimg{
    width: 15rem;
    height: 15rem;
  }


  .caname{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  .spdolnum{
    display: flex;
  }

  .spandollar{
    font-size: 17px;
  }


  .numbercolor{
    font-family: 'Merriweather Sans', sans-serif !important;
    color: #35A954;
    font-weight: bolder;
    margin-top: -0.4rem;
  }

  .spandollar{
    font-size: 17px;
  }


  .timeimg{
    width: 100%;
    margin-top: 1rem;
  }

  .Cardbutton{
    margin-top: 2rem;
      background-color: #35A954;
      color: white;
      padding: 15px 20px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      height: 3rem;
      width: 100%;
  }